{% extends "base.html" %}

{% block title %} Control {% endblock %}

{% block content %}

<b-container>

    <b-card bg-variant="light" class="my-4">

        <b-row class="text-center">
            <b-col cols="12" class="my-3">
                <b-form-group label="Speed (use spotters for ludicrous and plaid)" label-size="lg">
                     <b-form-radio-group
                        id="btn-radios-2"
                        v-model="speed"
                        :options="speedOptions"
                        buttons
                        button-variant="outline-primary"
                        size="lg"
                    ></b-form-radio-group>
                </b-form-group>
            </b-col>
            <b-col cols="12" class="my-3">
                <h6>Steering Angle: [[angle]]</h6>
            </b-col>
            <b-col sm="2" cols="1"></b-col>
            <b-col sm="8" cols="10" class="my-3">
                <vue-slider
                        v-model="angle"
                        :min="-40"
                        :max="40"
                        :adsorb="true"
                        :interval="5"
                        :marks="[-40, -30, -20, -10, 0, 10, 20, 30, 40]"
                        :process-style="{ backgroundColor: '#007bff' }"
                        v-bind="horizontalSliderOptions"
                        :drag-on-click="true"
                ></vue-slider>
            </b-col>
            <b-col sm="2" cols="1"></b-col>
        </b-row>

    </b-card>

    <b-card bg-variant="light" class="my-4">

        <b-row class="my-4 text-center">
            <b-col cols="6" class="my-1">
                <b-form-checkbox v-model="record" name="record-button" switch size="lg">
                    Record Driving
                </b-form-checkbox>
                <b-button :disabled="record" variant="danger" class="my-4" @click="deleteRecording()">Delete last recording</b-button>
            </b-col>
            <b-col class="my-1">
                <b-form-checkbox v-model="fsd" name="fsd-button" switch size="lg">
                    Full Self Driving
                </b-form-checkbox>
            </b-col>
            <b-form-group label="Select FSD Model" v-slot="{ ariaDescribedby }" label-size="lg">
                {% for module in fsd_modules %}
                    <b-form-radio
                            v-model="fsd_selection"
                            :aria-describedby="ariaDescribedby"
                            value="{{ module }}"
                            size="lg"
                    >{{ module }}</b-form-radio>
                {% endfor %}
            </b-form-group>
        </b-row>

    </b-card>

</b-container>

{% endblock %}

{% block app %}

<script>
    window.app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            speed: 0,
            record: false,
            fsd: false,
            fsd_selection: '{{fsd_selection}}',
            angle: 0,
            verticalSliderOptions: {
                dotSize: 25,
                width: 20,
            },
            horizontalSliderOptions: {
                dotSize: 25,
                height: 20,
            },
            speedOptions: [
                {text: 'Back', value: -35},
                {text: 'Stop', value: 0},
                {text: 'Forward', value: 35},
                {text: 'Ludicrous', value: 50},
                {text: 'Plaid', value: 100},
            ],
        },
        computed: {},
        mounted() {
            this.controlCar();
        },
        methods: {
            controlCar() {
                const data = {
                    speed: parseInt(this.speed, 0),
                    angle: parseInt(this.angle, 0) + 90,
                };
                axios.post('/car/', data).then((response) => {
                }).catch((err) => {
                })
            },
            toggleRecord() {
                const data = {
                    record: this.record,
                };
                axios.post('/car/', data).then((response) => {
                }).catch((err) => {
                })
            },
            toggleFSD() {
                const data = {
                    fsd: this.fsd,
                };
                axios.post('/car/', data).then((response) => {
                }).catch((err) => {
                })
            },
            selectFSD() {
                const data = {
                    fsd_model: this.fsd_selection,
                };
                axios.post('/car/', data).then((response) => {
                }).catch((err) => {
                })
            },
            deleteRecording(){
                 const data = {
                    delete: true,
                };
                axios.post('/car/', data).then((response) => {
                }).catch((err) => {
                })
            }
        },
        watch: {
            record(value) {
                this.toggleRecord();
            },
            fsd(value) {
                this.toggleFSD();
            },
            fsd_selection(value) {
                this.selectFSD();
            },
            speed(value) {
                this.controlCar();
            },
            angle(value) {
                this.controlCar();
            },
        },
        components: {
            'vueSlider': window['vue-slider-component']
        }
    })

</script>

{% endblock %}
